<%# <%= pet.photo.attached? ? cl_image_path(pet.photo.key) : %>
<div class="col-sm-3">
  <div class="card mt-3">
    <img src="https://source.unsplash.com/200x200" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= pet.name %></h5>
      <p class="card-text"><%= pet.description %></p>
      <a href="#" class="btn btn-primary"><%= pet.available %></a>
      <%= link_to "", pet_path(pet), class:"card-link" %>
    </div>
  </div>
</div>
