<%# <%= pet.photo.attached? ? cl_image_path(pet.photo.key) : %>
<%# comment added %>
<div class="card-box col-sm-3" >
  <div class="shadow-lg card mt-3" style="height: 400px;">
    <img style="height: 200px"  src="<%= pet.photo.attached? ? cl_image_path(pet.photo.key) : 'https://source.unsplash.com/200x200' %>" class="card-img-top" alt="...">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title"><strong><%= pet.name %></strong></h5>
        <p class="card-text"><%= pet.description %></p>
      </div>
      <h5 class="card-price">$<%= pet.price %>/day</h5>
      <% if pet.user == current_user %>
        <button type="button" class="btn btn-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
          Waiting for bookings
        </button>
      <% else %>
        <%= link_to "More information", pet_path(pet), class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
