<div class="container d-flex justify-content-center">
  <div class="w-50 p-3 d-flex flex-column justify-content-center align-items-center">
    <%= simple_form_for(@pet) do |f| %>
      <%= f.input :name %>
      <%= f.input :species %>
      <%= f.input :description %>
      <%= f.input :price, label: "Price/Day $" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit  %>
    <% end %>
  </div>
</div>
