<div class="container mt-3">
  <h1>My Bookings</h1>
  <ul>
    <% @current_user.bookings.each do |booking| %>
      <li>
        <p><%= booking.user.username %></p>
        <p><%= link_to booking.pet.name, pet_path(booking.pet) %></p>
        <p><%= booking.date_start %></p>
        <p><%= booking.date_end %></p>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Return Home!', pets_path(@Pet), class: 'btn btn-danger mt-3' %>
</div>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
