<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="navbar-brand flex-grow-1">
    <%= link_to pets_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dfuvnptrs/image/upload/v1668576879/fff_logo_tklhhx.svg" %>
    <% end %></div>
  <div class="flex-grow-1 d-flex">
    <%= form_with url: pets_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find a pet"
                  %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <% if user_signed_in? %>
      <div class="nav-item active">
        <%= link_to "Home", pets_path, class: "nav-link" %>
      </div>
      <div class="nav-item">
        <%= link_to "Bookings", bookings_path , class: "nav-link" %>
      </div>
      <div class="navbar-nav ml-auto">
        <%= image_tag current_user.photo.attached? ? cl_image_path(current_user.photo.key) : 'https://res.cloudinary.com/dmnm5ct2h/image/upload/v1668743833/Fluffy_Friends_Finder/avatar_placeholder_dvwzpr.svg', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Share your pet!", new_pet_path(current_user) , class: "dropdown-item" %>
          <%= link_to "Reviews (coming soon)", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <div class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
  </div>
</div>
